
<h3>Orbit Report</h3>
<table>
    <tr class = "header-row">
        <th class = "sortable" (click)="sort('name')">Name</th>
        <th class = "sortable" (click)="sort('type')">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor="let satellite of satellites">
        <td>{{satellite.name}}</td>
        <td [class.warning]="satellite.isSpaceDebris()">{{satellite.type}}</td>
        <!-- Due to order of the sourceList array data, had to switch launchDate with operational to make it match the table order -->
        <td>{{satellite.launchDate}}</td>
        <td>{{satellite.orbitType}}</td>
        <td>{{satellite.operational}}</td>
        </tr>
</table>