.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    color: yellow;
    background-color: orangered;
}

table {
  color: magenta;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}